body {
    background-color: rgb(33, 40, 48);
}

p {
    text-align: center;
    font-family: funkin;
    font-size: large;
    color: white;
    text-shadow: 0px 2px 5px black;
}

a {
    text-decoration: none;
    color: aqua;
    font-family: funkin;
}

h2 {
    text-shadow: 5px 5px 10px black;
}

details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: funkin;
    font-size: large;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 1000px;
    background-color: rgb(45, 50, 56);

    interpolate-size: allow-keywords;

    &::details-content {
        transition:
            block-size 1s,
            content-visibility 1s allow-discrete;
        overflow: hidden;
        block-size: 0;
    }

    &[open]::details-content {
        block-size: auto;
    }
}

img {
    border-radius: 20px;
}

.BGbuttons {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(45, 50, 56);
    word-spacing: 10px;
    font-size: large;
}

.active {
    background-color: rgb(56, 59, 63);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

/* TEXT SIZE */
.small {
    font-size: small;
}
.large {
    font-size: large;
}

@font-face {
    font-family: funkin;
    src: url(funkin.ttf);
}